@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  min-height: 100vh;
}

/* Ajuste personalizado para los botones circulares */
.btn-circle {
  width: 2.5rem !important;
  height: 2.5rem !important;
  padding: 0 !important;
  display: inline-flex !important;
  align-items: center !important;
  justify-content: center !important;
} 